body {
    font-family: "Kanit", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fd79a8;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-top: 0;
}

.infografia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;
}

.principio {
    width: 300px;
    margin: 10px;
    padding: 20px;
    border: 2px solid #fd79a8;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.principio h2 {
    font-size: 1.6rem;
    color: #fd79a8;
}

.principio p {
   font-size: 1.3rem;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.btn-custom{
    background-color: #fd79a8 !important;
    color: white! important;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.3rem !important;
}

footer {
    display: flex;
    background-color: #f8c7d9;
    text-align: center;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
  
}